In [1]:
from pandas_datareader import data
from datetime import datetime, timedelta
from bokeh.plotting import figure, show, output_file
from bokeh.embed import components
from bokeh.resources import CDN

In [2]:
import os.path
if os.path.isfile("stock.txt"):
    with open("stock.txt") as f:
        stock = f.readline()
else:
    stock='BTC-CAD'

In [3]:
start = datetime.today() - timedelta(days=12)
end = datetime.now()
try:
    df = data.DataReader(name=stock,data_source="yahoo",start=start,end=end)
except:
    print("Stock not found, make sure to enter the symbol correctly (ex: BTC-CAD, AAPL)")
    df = data.DataReader(name='BTC-CAD',data_source="yahoo",start=start,end=end)

Stock not found, make sure to enter the symbol correctly (ex: BTC-CAD, AAPL)

In [4]:
df["Status"]=[1 if c > o else 0 for c, o in zip(df.Close, df.Open)]
df["Average"]=(df.Open+df.Close)/2
df["Height"]=abs(df.Close-df.Open)

In [5]:
df

,High,Low,Open,Close,Volume,Adj Close,Status,Average,Height
Date,,,,,,,,,
2021-04-24,63010.046875,58860.460938,62444.660156,61204.207031,57598292650,61204.207031,0,61824.433594,1240.453125
2021-04-25,67335.632812,60979.964844,61296.050781,66968.875000,72252684229,66968.875000,1,64132.462891,5672.824219
2021-04-26,68736.429688,66142.187500,66979.476562,68279.867188,61350657215,68279.867188,1,67629.671875,1300.390625
2021-04-27,69248.132812,66871.945312,68284.234375,67453.250000,59057216931,67453.250000,0,67868.742188,830.984375
2021-04-28,67812.437500,64361.214844,67494.320312,65747.195312,56581305089,65747.195312,0,66620.757812,1747.125000
2021-04-29,71170.984375,65230.609375,65763.835938,70985.937500,64404555636,70985.937500,1,68374.886719,5222.101562
2021-04-30,71844.117188,70128.085938,70942.289062,71081.664062,52654108146,71081.664062,1,71011.976562,139.375000
2021-05-01,71173.289062,69009.070312,71078.968750,69543.929688,46882502767,69543.929688,0,70311.449219,1535.039062
2021-05-02,72541.890625,69502.984375,69530.656250,70239.093750,63501149073,70239.093750,1,69884.875000,708.437500
2021-05-03,70256.148438,65438.750000,70256.148438,65618.921875,84358587217,65618.921875,0,67937.535156,4637.226562
2021-05-04,71020.468750,65146.375000,65518.800781,70452.648438,84951132897,70452.648438,1,67985.724609,4933.847656
2021-05-05,71449.945312,67467.359375,70473.875000,68554.359375,84510975862,68554.359375,0,69514.117188,1919.515625
2021-05-07,70065.257812,67312.859375,68419.242188,69457.421875,88322334720,69457.421875,1,68938.332031,1038.179688

In [6]:
p=figure(x_axis_type='datetime', width=1000, height=300, sizing_mode="scale_width")
p.title.text="Candlestick Chart"
p.grid.grid_line_alpha=0.3

hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Black")

p.rect(df.index[df.Status==1], df.Average[df.Status==1], hours_12, df.Height[df.Status==1],
       fill_color="mediumaquamarine", line_color="black")

p.rect(df.index[df.Status==0], df.Average[df.Status==0], hours_12, df.Height[df.Status==0],
       fill_color="lightcoral", line_color="black")

script1, div1 = components(p)
cdn_js = CDN.js_files

output_file=("cs.html")
show(p)

In [7]:
difference = round(df.Close[len(df)-1], 2) - round(df.Open[0], 2)
highest_day = df.High.idxmax().to_pydatetime().strftime("%x")
lowest_day = df.Low.idxmin().to_pydatetime().strftime("%x")